@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: auto; }

@media screen and (max-width: 735px) {
  body, article, #column, #footer, #footer p {
    width: 100% !important; }

  #column, #footer {
    word-wrap: break-word !important;
    padding: 1em 0em !important; }
    #column h1, #column h2, #column h3, #column h4, #column h5, #column p, #column .date, #column .collections, #column .location, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer p, #footer .date, #footer .collections, #footer .location {
      padding: 0 15px; }
    #column blockquote, #column pre, #footer blockquote, #footer pre {
      margin: 0 !important;
      padding: 0.75em !important; }
    #column pre, #footer pre {
      max-width: 100%;
      overflow: scroll; }
    #column ul, #column ol, #footer ul, #footer ol {
      margin: 1em 0.5em !important; }
    #column img, #footer img {
      max-width: 100%; }
    #column .caption, #footer .caption {
      border-left: none !important; }
    #column .deltos-results h2, #footer .deltos-results h2 {
      padding: 0 !important; }

  #header, #header img {
    height: 50px !important;
    background-size: 25px !important; } }
html, body {
  height: 100%;
  background: #3c2957; }

a {
  color: black; }

a:visited {
  color: #666; }

a.article-link {
  text-decoration: none;
  color: #3c2957; }
  a.article-link:visited {
    color: #3c2957; }

#header {
  width: 100%;
  height: 100px;
  background: url(meander.50.png);
  border-bottom: 10px solid #3c2957;
  background-repeat: repeat-x;
  background-position: center bottom; }
  #header img {
    background: white;
    margin-left: 23px; }

article {
  width: 640px; }

#column .img .caption {
  background: #b981b8;
  margin-top: -5px;
  /* not sure why this is necessary */
  padding: 0 0.5em;
  border: 2px solid #3c2957;
  border-top: none;
  border-right: none; }

#footer {
  background: #3c2957;
  color: #b981b8; }
  #footer p {
    width: 640px; }
  #footer a {
    color: #b981b8; }
  #footer a:visited {
    color: #b981b8; }

#column {
  border-top: 10px solid #b981b8;
  border-bottom: 10px solid #b981b8;
  background: white; }
  #column blockquote, #column pre {
    background: #b981b8;
    margin: 0;
    padding: 0.75em;
    border-top: 2px solid #3c2957; }
    #column blockquote p, #column pre p {
      margin: 0; }

#column, #footer {
  margin-right: 0;
  padding: 1em 5em;
  font-family: "EB Garamond", "Palatino Linotype", serif; }
  #column .location, #column .collections, #footer .location, #footer .collections {
    margin: 0.5em 0;
    color: #3c2957;
    font-style: italic;
    font-size: 100%; }
  #column p, #column li, #footer p, #footer li {
    font-size: 20px;
    line-height: 24px; }
  #column p, #footer p {
    margin: 1em 0; }
  #column li, #footer li {
    margin: 0 1em; }
  #column ul, #column ol, #footer ul, #footer ol {
    margin: 1em  2em; }
  #column ul, #footer ul {
    list-style-type: square; }
  #column h1, #column h2, #column h3, #column h4, #column h5, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5 {
    font-family: "Sorts Mill Goudy","Palatino Linotype", serif;
    font-weight: normal;
    color: #3c2957;
    margin-bottom: -0.25em; }
  #column .title, #footer .title {
    margin-bottom: 0; }
  #column h1, #footer h1 {
    font-size: 64px;
    line-height: 70px; }
  #column h2, #footer h2 {
    font-size: 40px;
    line-height: 48px; }
  #column h3, #footer h3 {
    font-size: 32px;
    line-height: 38px; }
  #column h4, #footer h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 24px;
    line-height: 28px; }
  #column code, #footer code {
    font-family: profontwindowsregular, "Courier New", monospace;
    font-size: 80%; }
  #column li code, #column p code, #footer li code, #footer p code {
    background: #b981b8;
    padding: 1px 5px; }
  #column .date, #footer .date {
    font-style: italic; }
  #column .tags, #footer .tags {
    color: #666;
    font-size: 0.8em;
    font-style: italic; }
  #column img, #column iframe, #footer img, #footer iframe {
    max-width: 100%; }
  #column input.deltos-search, #footer input.deltos-search {
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    padding: 5px; }
  #column .deltos-results-summary, #footer .deltos-results-summary {
    font-size: 16px;
    padding: 4px;
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid #999; }
  #column .deltos-results, #footer .deltos-results {
    height: 450px;
    overflow-y: auto; }
  #column a.result, #footer a.result {
    text-decoration: none; }
  #column a.result.selected > .summary-small, #footer a.result.selected > .summary-small {
    background: #b981b8; }
  #column .summary-small, #footer .summary-small {
    height: 90px;
    overflow: hidden;
    border-bottom: 1px solid #999; }
    #column .summary-small .imgwrapper, #footer .summary-small .imgwrapper {
      float: left;
      background-size: cover;
      background-image: url(/dklogo.simple.png);
      background-position: center;
      height: 90px;
      width: 90px;
      border-right: 1px solid gray;
      margin-right: 15px; }
    #column .summary-small h2, #footer .summary-small h2 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin: 10px 0 0 0;
      overflow: hidden; }
    #column .summary-small p, #footer .summary-small p {
      font-size: 18px !important;
      line-height: 24px !important;
      margin: 4px 0 0 0; }
  #column .summary, #footer .summary {
    height: 125px;
    overflow: hidden;
    border: 1px solid #999; }
    #column .summary .imgwrapper, #footer .summary .imgwrapper {
      float: left;
      background-size: cover;
      background-image: url(/dklogo.simple.png);
      background-position: center;
      height: 125px;
      width: 125px;
      border-right: 1px solid gray;
      margin-right: 15px; }
    #column .summary p, #footer .summary p {
      height: 60px;
      margin: 0.5em;
      overflow: hidden; }
    #column .summary h2, #footer .summary h2 {
      font-weight: bold;
      font-size: 1.3em;
      margin: 0.5em 0 0 0; }
